<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Report - save {{date}}</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        h1, h2 { color: #333; }
        .accordion { cursor: pointer; padding: 10px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; background-color: #f2f2f2; margin-bottom: 5px; }
        .accordion:hover { background-color: #ddd; }
        .panel { padding: 10px; display: none; overflow: hidden; background-color: #f9f9f9; border: 1px solid #ddd; margin-bottom: 10px; }
        ul { list-style-type: none; padding: 0; }
        li { margin-bottom: 5px; }
        .highlight { font-weight: bold; color: #555; }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordions = document.querySelectorAll('.accordion');
            accordions.forEach(accordion => {
                accordion.addEventListener('click', function() {
                    this.classList.toggle('active');
                    const panel = this.nextElementSibling;
                    if (panel.style.display === 'block') {
                        panel.style.display = 'none';
                    } else {
                        panel.style.display = 'block';
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Score Report - save {{date}}</h1>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Tag</th>
                <th>Country Name</th>
                <th>Growth Score</th>
                <th>VC Score</th>
                <th>Hist Ideas</th>
                <th>Misc</th>
                <th>Modifier</th>
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
            {% for country in sorted_data %}
            <tr>
                <td>{{ country.player }}</td>
                <td>{{ country.tag }}  {% if country.original_tag != country.tag %} (Original - {{country.original_tag}}){% endif %}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.growth_score|round(2) }}</td>
                <td>{{ country.victory_card_score|round(2) }}</td>
                <td>{{ country.historical_idea_score }}</td>
                <td>{{ country.misc_score }}</td>
                <td>{{ country.modifier_score }}</td>
                <td>{{ country.total_score|round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="details">
        <h2>Detailed Information</h2>
        {% for country in sorted_data %}
        <button class="accordion">{{ country.player }} ({{ country.tag }}) - {{country.name}}</button>
        <div class="panel">
            {% if country.original_tag != country.tag %}
            <h3>Original tag: {{ country.original_tag }}</h3>
            {% endif %}
            <h3>Growth Score: {{ country.growth_score|round(2) }}</h3>
            <ul>
                <li><span class="highlight">Starting Development:</span> {{ country.starting_development }}</li>
                <li><span class="highlight">Current Development:</span> {{ country.development }}</li>
            </ul>
            <h3>Victory Card Score: {{ country.victory_card_score|round(2) }}</h3>
            <ul>
                {% for card in country.victory_cards %}
                <li><span class="highlight">Area:</span>{{card.area}}</li>
                <li><span class="highlight">Score:</span>{{card.score}}</li>
                <li><span class="highlight">Was fulfilled:</span>{{card.was_fulfilled}}</li>
                {% endfor %}
            </ul>
            <h3>Historical Idea Score: {{ country.historical_idea_score }}</h3>
            <ul>
                <li><span class="highlight">Historical Ideas:</span> {{ country.historical_idea_groups|join(', ') }}</li>
                <li><span class="highlight">Active Idea Groups:</span> {{ country.active_idea_groups|join(', ') }}</li>
            </ul>
            <h3>Miscellaneous Score: {{ country.misc_score }}</h3>
            <ul>
                {% if most_dev_province.owner == country.tag %}
                <li><span class="highlight">Most Developed Province:</span> {{ most_dev_province.name }} (ID: {{ most_dev_province.id }}) with {{ most_dev_province.development }} development = 10 points for owning it</li>
                {% endif %}
                {% if country.tag == hre_data.emperor %}
                <li><span class="highlight">HRE Emperor:</span> 10 Points </li>
                <li><span class="highlight">HRE Reforms:</span> {{hre_data.level}} * 5 points </li>
                {% endif %}
                {% if country.tag == china_data.emperor %}
                <li><span class="highlight">China Emperor:</span> 3 Points </li>
                <li><span class="highlight">China Reforms:</span> {{china_data.level}} points </li>
                {% endif %}
                {% if country.tag in hre_data.electors and hre_data.level > 0 %}
                <li><span class="highlight">HRE Reforms for electors:</span> {{hre_data.level}} * 5 points </li>
                {% endif %}
                {% if country.tag == losses_data.tag %}
                <li><span class="highlight">Highest combat losses in the game ({{losses_data.losses}}):</span> 10 points </li>
                {% endif %}
            </ul>
            <h3>Modifier Score: {{ country.modifier_score }}</h3>
            <ul>
                {% for modifier in country.modifiers %}
                <li><span class="highlight">Modifier:</span> {{modifier.name}}, <span class="highlight">Value:</span> {{modifier.value}}, <span class="highlight">Count:</span> {{modifier.count}} </span></li>
                {% endfor %}
            </ul>
            <h3>Total Score: {{ country.total_score|round(2) }}</h3>
        </div>
        {% endfor %}
    </div>

    <h2>Most Developed Province</h2>
    <p><span class="highlight">Name:</span> {{ most_dev_province.name }} (ID: {{ most_dev_province.id }})</p>
    <p><span class="highlight">Owner:</span> {{ most_dev_province.owner }}</p>
    <p><span class="highlight">Development:</span> {{ most_dev_province.development }}</p>
    <h2>Highest losses in combat</h2>
    <p><span class="highlight">TAG:</span> {{losses_data.tag}}</p>
    <p><span class="highlight">Losses:</span> {{ losses_data.losses }}</p>
    <h2>HRE DATA</h2>
    <p><span class="highlight">Emperor:</span> {{hre_data.emperor}}</p>
    <p><span class="highlight">Reforms passed:</span> {{ hre_data.level }}</p>
    <h2>China DATA</h2>
    <p><span class="highlight">Emperor:</span> {{china_data.emperor}}</p>
    <p><span class="highlight">Reforms passed:</span> {{ china_data.level }}</p>
</body>
</html>